.NewsData {
  position: relative;
  width: 80%;
  padding: 16px 24px 16px 16px;
}

.NewsData__user {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.NewsData__user--clock {
  margin-right: 8px;
  margin-bottom: .5px;
}

.NewsData__user p, 
.NewsData__user time {
  font-size: var(--sm);
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--text-light);
}
.NewsData__user time {
  margin-right: 2px;
}

.NewsData__title h3 {
  font-size: var(--md);
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--text-medium);
}

.NewsData__url {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 480px) {
  .NewsData {
    width: 85%;
  }
}

@media (min-width: 620px) {
  .NewsData {
    width: 90%;
  }
}